@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  font-family: "Open Sans", sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default Light Mode */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
}

.css-1awsx0u-MuiDataGrid-root {
  font-family: "Open Sans", sans-serif !important;
}

a {
  text-decoration: none;
}

.links_dark_hover {
  cursor: pointer;
  padding: 2px 6px;
  transition: all 0.5s ease;
}

.links_dark_hover:hover {
  color: #fff;
  transition: all 0.5s ease;
}

/* animation hover custom */
.nav_header_home a {
  position: relative;
}

.nav_header_home a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #fff;
  height: 1px;
}

.nav_header_home a {
  transition: all 2s;
  transition: all 0.5s ease;
}

.nav_header_home a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.nav_header_home a:hover {
  color: #fff;
  z-index: 1;
}
.nav_header_home a:hover:after {
  z-index: -10;
  animation: fill 0.5s forwards;
  -webkit-animation: fill 0.5s forwards;
  -moz-animation: fill 0.5s forwards;
  opacity: 1;
}

/* Keyframes */
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #885838;
    border-radius: 3px;
  }
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #885838;
    border-radius: 3px;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif !important;
  background-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  transition:
    background-color 0.3s,
    color 0.3s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.bg_title {
  background: #422a14;
  background-image: linear-gradient(315deg, #d97706, #2c1c0e, #d97706);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.bg_title_sidebar {
  background: #422a14;
  background-image: linear-gradient(315deg, #d97706, #2c1c0e);
  color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  background-color: #ffffff;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  cursor: pointer;
}
